body {
  background-color: black;
}
.titletext {
  color: white;
  display: block;
  margin: auto;
  width: 300px;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 2px;
  padding: 0px 20px;
  margin: 0;
}
.menuecontainer {
  color: white;
  display: block;
  margin: auto;
  width: 300px;
  text-decoration: none;
  margin-top: 30px;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
  color: white;
}

.memory-element {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 14%;
  border-color: rgb(162, 162, 162);
  background-size: contain;
}
.memory-container {
  display: block;
  margin: auto;
  width: 300px;
}

.beforeStart .buttonStart {
  background-color: #8d989b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
